* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-size: 60%;
  background-repeat: no-repeat; }

.form {
  margin-top: 3rem; }
  .form__input {
    display: flex; }
  .form__email {
    font-family: inherit;
    border-radius: 100px;
    height: 5rem;
    padding: 2rem 2.5rem;
    width: 100%;
    border: 1px solid #efead8; }
    .form__email-label {
      display: block;
      margin-left: 2rem;
      margin-top: 0.7rem;
      color: #f96262;
      font-size: 1.2rem;
      transition: all 0.3s; }
    .form__email::placeholder {
      color: #ce9797; }
    .form__email:focus {
      outline: none; }
      .form__email:focus:invalid {
        border: 3px solid #f96262; }
    .form__email:placeholder-shown + .form__email-label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem); }
  .form__error-icon-box {
    margin-top: 1rem;
    margin-left: -10rem;
    padding: 0 2rem;
    visibility: hidden; }
  .form__button {
    align-self: flex-start;
    height: 5rem;
    border: none;
    border-radius: 100px;
    width: 90%;
    margin-left: -1rem;
    padding: 0 2rem;
    background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    cursor: pointer; }
    .form__button:active {
      background-image: linear-gradient(135deg, #fdeded, #f4b8b8);
      box-shadow: 0 2rem 2rem rgba(206, 151, 151, 0.4); }

.email-box {
  flex: 0 0 90%; }

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem; }

.attribution a {
  color: #3e52a3; }

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 18rem; }
  @media only screen and (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items: center;
      padding-left: 0; } }
  .header__logo-box {
    margin-top: 7rem; }
    @media only screen and (max-width: 600px) {
      .header__logo-box {
        order: 0;
        align-self: flex-start;
        padding-left: 5rem;
        padding-bottom: 5rem; } }
  @media only screen and (max-width: 600px) {
    .header__photo {
      order: 1;
      width: 100vw; } }

.content {
  margin-top: 22rem;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .content {
      order: 2;
      margin-top: 5rem; } }
  .content__absolute {
    position: absolute;
    left: -43.5rem; }
    @media only screen and (max-width: 600px) {
      .content__absolute {
        left: 0;
        position: relative;
        text-align: center;
        padding: 0 3rem; } }

.heading {
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #ce9797;
  letter-spacing: 2rem;
  margin-bottom: 3rem; }
  .heading--second-part {
    font-weight: 600;
    color: #000; }
  @media only screen and (max-width: 600px) {
    .heading {
      font-size: 4rem;
      letter-spacing: 1.5rem; } }

.paragraph {
  color: #ce9797;
  font-size: 2rem;
  width: 100%;
  line-height: 1.5; }
  @media only screen and (max-width: 600px) {
    .paragraph {
      font-size: 1.8rem;
      line-height: 1.4; } }
