.heading {
    font-size: 6rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $--color-primary-red;
    letter-spacing: 2rem;
    margin-bottom: 3rem;
    &--second-part {
        font-weight: 600;
        color: $--color-black;
    }
    @media only screen and (max-width: 1100px) {
        font-size: 5rem;
        letter-spacing: 1.7rem;
    }
    @media only screen and (max-width: 750px) {
        font-size: 4rem;
        letter-spacing: 1.5rem;
    }
}

.paragraph {
    color: $--color-primary-red;
    font-size: 2rem;
    width: 100%;
    line-height: 1.5;
    @media only screen and (max-width: 1100px) {
        font-size: 1.9rem;
        line-height: 1.45;
    }
    @media only screen and (max-width: 750px) {
        font-size: 1.8rem;
        line-height: 1.4;
    }
}