.heading {
    font-size: 6rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $--color-primary-red;
    letter-spacing: 2rem;
    margin-bottom: 3rem;
    &--second-part {
        font-weight: 600;
        color: $--color-black;
    }
}

.paragraph {
    color: $--color-primary-red;
    font-size: 2rem;
    width: 100%;
    line-height: 1.5;
}